[user]
	name = holysoros
	email = holysoros@gmail.com
[color]
	ui = true
[core]
    editor = vim
	eol = lf
	autocrlf = false
[merge]
	tool = vimdiff
[credential]
	helper = cache --timeout=3600
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
